.overlay-panel-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2px;
    width: 180px;
}

.custom-input input[type="number"]::-webkit-inner-spin-button,
.custom-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-input input[type="number"] {
 
    height: 20px;
    padding: 6px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ccc;
}

.custom-submit-btn {
    height: 36px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
