.right-aligned-dropdown {
  margin-left: auto;
}
.p-datatable .title-column {
  margin: 200px; 
}

.custom-title-cell {
  margin-left: 12px; 
  padding-left: 12px;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

