@import "tailwindcss";
.p-datatable .p-datatable-tbody > tr.p-highlight {
  background-color: rgba(36, 16, 255, 0.149) !important; 
  color: inherit;
}

.p-paginator .p-highlight {
  background-color: #00796b !important;  
  color: white !important;
  border-radius: 50% !important;
  box-shadow: none !important;
}

