/* .p-datatable .p-datatable-tbody > tr.p-highlight {
  background-color: transparent !important;
  color: inherit !important;
} */
.p-datatable .p-datatable-tbody > tr.p-highlight {
  background-color: rgba(36, 16, 255, 0.149) !important; /* Light blue transparent */
  color: inherit;
}
/* Reset paginator button active state */
.p-paginator .p-highlight {
  background-color: #00796b !important;  /* or whatever your intended color is */
  color: white !important;
  border-radius: 50% !important;
  box-shadow: none !important;
}

